---
layout: main
title: Exercises overview
permalink: /exercises/
---


<section class="exercises-overview">
<h1>Exercise listing</h1>

<table>
  <thead>
    <tr>
      <th style="text-align: center">Week</th>
      <th style="text-align: left">Tags</th>
    </tr>
  </thead>
{% for post in site.exercises %}
  <tbody>
    <tr>
      <td style="text-align: center"><a href="{{post.title  | downcase  }}">{{ post.Week }}</a></td>
      <td style="text-align: left">
        {% assign sorted = post.tags | sort %}
        {% for tag in sorted %}<a href="{{ site.baseurl }}/tags/#{{ tag | cgi_escape }}">{{ tag }}</a>&nbsp&nbsp{% endfor %}
      </td>
    </tr>
  </tbody>
{% endfor %}

</table>

</section>
